<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../css/index/admi.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">

    <title>Administrador</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <!-- Menu Costado -->
            <div class="col-sm-12 col-md-4">
                <div class="title-menu">
                    Asesores
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 1.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 2.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 3.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 4.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 5.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 6.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 7.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 8.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 9.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 10.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 11.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 12.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 13.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 14.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 15.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 16.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 17.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 18.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 19.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 20.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="title-principal">
                    Entrada de Usuarios
                </div>
                
                <div class="container-fluid" >
                        <div class="row colum" id="container_tabla">
                        </div>
                </div>
                <script>
                        var acu = 0;
                        var text = "";
                        for (var i = 1; i <= 60; i ++) {
                            
                            text += "<div class='col-sm-4 col-md-2' style='padding-bottom: .5em;'>"+
                                        "<Label class='label'>"+i+".</Label>"+
                                        "<div id='id_circulo_"+i+"' class='circulo-pricipal'></div>"+
                                    "</div>";
    
                        }
                        document.getElementById("container_tabla").innerHTML = text;

                        
		                for (var i=1; i<= 60; i++){
                            document.getElementById("id_circulo_"+i).style.backgroundColor="green";
                            i++;
                            document.getElementById("id_circulo_"+i).style.backgroundColor="red";
                            i++;
                            document.getElementById("id_circulo_"+i).style.backgroundColor="blue";
                        } 
                </script>
            </div>
        </div>
    </div>
</body>

</html>