<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="../css/index/admi.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">

    <title>Administrador</title>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <!-- Menu Costado -->
            <div class="col-sm-12 col-md-4">
                <div class="title-menu">
                    Asesores
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 1.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 2.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 3.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 4.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 5.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 6.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 7.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 8.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 9.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 10.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 11.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 12.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 13.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 14.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 15.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 16.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 17.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 18.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 19.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
                <div class="asesor">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-4">
                                <img src="../img/usuario.png" class="img" alt=""> 20.
                            </div>
                            <div class="col-4">
                                <div class="circular"></div>
                            </div>
                            <div class="col-4" style="text-align: center;">
                                En Línea
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-md-8">
                <div class="title-principal">
                    Entrada de Usuarios
                </div>
                <div class="container-fluid">
                    <div class="row colum">
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">1.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">2.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">3.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">4.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">5.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">6.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                    </div>
                    <!-- Fila Dos -->
                    <div class="row colum">
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">7.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">8.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">9.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">10.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">11.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">12.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                    </div>
                    <!-- Fila Tres -->
                    <div class="row colum">
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">13.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">14.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">15.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">16.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">17.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">18.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                    </div>
                    <!-- Fila Cuatro -->
                    <div class="row colum">
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">19.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">20.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">21.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">22.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">23.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">24.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                    </div>
                    <!-- Fila Cinco -->
                    <div class="row colum">
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">25.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">26.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">27.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">28.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">29.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">30.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                    </div>
                    <!-- Fila Seis -->
                    <div class="row colum">
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">31.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">32.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">33.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">34.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">35.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">36.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                    </div>
                    <!-- Fila Siete -->
                    <div class="row colum">
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">37.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">38.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">39.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">40.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">41.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">42.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                    </div>
                    <!-- Fila Ocho -->
                    <div class="row colum">
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">43.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">44.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">45.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">46.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">47.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">48.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                    </div>
                    <!-- Fila Nueve -->
                    <div class="row colum">
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">49.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">50.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">51.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">52.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">53.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">54.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                    </div>
                    <!-- Fila Diez -->
                    <div class="row colum">
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">55.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">56.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">57.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">58.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">59.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                        <div class="col-sm-4 col-md-2" style="padding-bottom: .5em;">
                            <Label class="label">60.</Label>
                            <div class="circulo-pricipal"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>