<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>if (typeof module === 'object') {window.module = module; module = undefined;}</script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../css/index/index.css">

    <script src="../../vendor/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="./../../vendor/bootstrap/js/bootstrap.min.js"></script>

    <script>if (window.module) module = window.module;</script>

    <script src="../../Controler/db/connectionCallCenter.js"></script>
    <script src="../../Controler/Login/Login.js"></script>
    <script src="../../Controler/Login/CloseLogin.js"></script>
</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <!-- Menu Costado -->
            <div class="col-sm-12 col-md-3 text-center">
                <div class="img-menu">
                    <img src="../img/inbound-call-center.png" width="220" alt="">
                    <Label for="nombre" class="label" id="nameUsuario"></Label>
                    <input type="hidden" name="idUsuario" id="idUsuario">
                    <div class="row">
                        <div class="col-6">
                            <div class="estado-circle"></div>
                        </div>
                        <div class="col-6">
                            <Label class="estado" id="estado"></Label>
                        </div>
                    </div>
                </div>
                <div class="contenedor-btn-Disponible">
                    <button class="btn btn-disponible">DISPONIBLE</button>
                </div>
                <div class="contenedor-btn-Ausente">
                    <button class="btn btn-ausente">AUSENTE</button>
                </div>
                <div class="contenedor-btn-cerrar-session">
                    <button class="btn btn-cerrar-session" onclick="cerrarSession();">CERRAR SESSION</button>
                </div>
                <div class="contenedor-btn-nuevo-registro">
                    <button type="button" class="btn btn-nuevo-registro" data-toggle="modal" data-target="#modalRegistro">
                        NUEVO REGISTRO
                    </button>
                </div>
            </div>
            <!-- Menu Principal -->
            <div class="col-sm-12 col-md-9">
                <div class="containe-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="title-comprador">
                                <h1 class="h1">COMPRADOR</h1>
                            </div>
                            <div class="comprador">
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Nombre:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="nombre" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Cedula:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="cedula" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Telefono:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="telefono" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Clave Usuario:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="clave_usuario" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Clave CeleriCoin:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="clave_celeri" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Monto Compra:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="clave_celeri" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Menu Vendedor -->
                        <div class="col-sm-12 col-md-6">
                            <div class="title-comprador">
                                <h1 class="h1 text-center">VENDEDOR</h1>
                            </div>
                            <div class="vendedor">
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Nombre:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="nombre" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Cedula:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="cedula" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Telefono:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="telefono" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Clave Usuario:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="clave_usuario" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Clave CeleriCoin:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="clave_celericoin" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Forma Pago:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" name="clave_celeri" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- botones -->
                    <div class="row" style="margin-top: 1em;">
                        <div class="col-4 colum-rigth">
                            <button class="btn btn-primary btn-cancelado">Cancelar</button>
                        </div>
                        <div class="col-4 colum-center">
                            <button class="btn btn-primary btn-espera">En Espera</button>
                        </div>
                        <div class="col-4 colum-left">
                            <button class="btn btn-primary btn-finalizado">Finalizar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Lista de Espera -->
        </div>
        <div class="container">
            <div class="row " style="margin-top: 1em;">
                <!-- Tabla de llamadas en espera -->
                <div class="col-12">
                    <div class="title-espera">
                        <h1 class="h1">TRANSACCIONES EN ESPERA</h1>
                    </div>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th></th>
                                <th>Vendedor</th>
                                <th>Comprador</th>
                                <th>Fecha y Hora</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>
                                    <div class="cirle-estado"></div>
                                </th>
                                <th>David</th>
                                <th>Luis</th>
                                <th>2017-03-29 18:44</th>
                                <th>
                                    <button class="btn btn-primary btn-reanudar">Reanudar</button>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- The Modal -->
        <div class="modal fade" id="modalRegistro">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title text-center">Nuevo Registro</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Nombres:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="nombre" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Cedula:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="cedula" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Direccion:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="telefono" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Telefono:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="telefono" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Correo:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="correo" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Clave Usuario:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="clave_usuario">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Clave CeleriCoin:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="clave_celericoin">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-guardar" data-dismiss="modal">Close</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>



<script src="../js/Login/script.js"></script>

</html>