<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">


    <script src="../../vendor/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="./../../vendor/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/index/index.css">

    <script>if (window.module) module = window.module;</script>

    <script src="../../Controler/db/connectionCallCenter.js"></script>
    <script src="../../Controler/Login/Login.js"></script>
    <script src="../../Controler/Login/CloseLogin.js"></script>

</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <!-- Menu Costado -->
            <div class="col-sm-12 col-md-3 text-center">
                <div class="img-menu">
                    <img src="../img/inbound-call-center.png" width="220" alt="">
                    <div class="row">
                        <div class="col-2 colum-rigth">
                            <div class="estado-circle"></div>
                        </div>
                        <div class="col-10">
                            <Label for="nombre" class="label" id="nameUsuario"></Label>
                            <input type="hidden" name="idUsuario" id="idUsuario">
                        </div>
                    </div>
                </div>
                <div class="contenedor-btn-Disponible">
                    <button class="btn btn-disponible" onclick="btnDisponible()">DISPONIBLE</button>
                </div>
                <div class="contenedor-btn-Ausente">
                    <button class="btn btn-ausente" onclick="btnAusente()">AUSENTE</button>
                </div>
                <div class="contenedor-btn-cerrar-session">
                    <button class="btn btn-cerrar-session" onclick="cerrarSession();">CERRAR SESION</button>
                </div>
            </div>
            <!-- Menu Principal -->
            <div class="col-sm-12 col-md-9">
                <div class="containe-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="title-comprador">
                                <h1 class="h1">COMPRADOR</h1>
                            </div>
                            <div class="comprador">
                                <input type="hidden" name="id_asignacion_transaccion" id="id_asignacion_transaccion" value="" />
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Nombre:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="nombre_comprador" name="nombre" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Cedula:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="cedula_comprador" name="cedula_comprador" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Telefono:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="telefono_comprador" name="telefono_comprador" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Clave Usuario:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="contrasena1_comprador" name="contrasena1_comprador" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Clave CeleriCoin:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="contrasena2_comprador" name="contrasena2_comprador" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Monto Compra:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="monto" name="monto" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Cantidad Bitcoin:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="cantBitcoin" name="cantBitcoin" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Menu Vendedor -->
                        <div class="col-sm-12 col-md-6">
                            <div class="title-comprador">
                                <h1 class="h1 text-center">VENDEDOR</h1>
                            </div>
                            <div class="vendedor">
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Nombre:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="nombre_vendedor" name="nombre_vendedor" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Cedula:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="cedula_vendedor" name="cedula_vendedor" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Telefono:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="telefono_vendedor" name="telefono_vendedor" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Clave Usuario:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="contrasena1_vendedor" name="contrasena1_vendedor" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Clave CeleriCoin:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="contrasena2_vendedor" name="contrasena2_vendedor" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Forma Pago:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="forma_pago" name="forma_pago" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- botones -->
                    <div class="row" style="margin-top: 1em;">
                        <div class="col-4 colum-rigth">
                            <button class="btn btn-primary btn-cancelado" onclick="cancelarTransaccion();">Cancelar</button>
                        </div>
                        <div class="col-4 colum-center">
                            <button class="btn btn-primary btn-espera" onclick="enEsperaTransaccion();">En Espera</button>
                        </div>
                        <div class="col-4 colum-left">
                            <button class="btn btn-primary btn-finalizado" onclick="finalizarTransaccion()">Finalizar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Lista de Espera -->
        </div>
        <div class="container">
            <div class="row " style="margin-top: 1em;">
                <!-- Tabla de llamadas en espera -->
                <div class="col-12">
                    <div class="title-espera">
                        <h1 class="h1">TRANSACCIONES EN ESPERA</h1>
                    </div>
                    <div id="outputDivTransacciones">

                    </div>

                </div>
            </div>
        </div>
        <!-- The Modal -->
        <div class="modal fade" id="modalRegistro">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header" id="head_modal">
                        <h4 class="modal-title text-center">Nuevo Registro</h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Usuario:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="usuarioCeleri">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Nombres:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="nombre" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Documento:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="cedula" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Direccion:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="direccion" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Telefono:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="telefono" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Correo:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="correo" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Clave Usuario:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" UPPER class="form-control" name="clave_usuario" id="clave_usuario">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Clave CeleriCoin:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" UPEER class="form-control" name="clave_celericoin" id="clave_celericoin">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-posponer text-left" data-dismiss="modal" onclick="asignarClaves('POSPUESTO')">POSPONER</button>
                        <button type="button" class="btn btn-guardar" data-dismiss="modal" onclick="asignarClaves('CONFIRMADO')">GUARDAR</button>
                    </div>

                </div>
            </div>
        </div>
    </div>

</body>

<script src="../js/Login/script.js"></script>
<script src="../js/index_user/script.js"></script>
<script src="../../Controler/IndesUser/consultaCompradorVendedor.js"></script>
<script src="../../Controler/IndesUser/consultaTransaccionesEspera.js"></script>
<script src="../js/index_user/nuevoRegistro.js"></script>
<script>
    consulta_datos_en_espera();
</script>

</html>