<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">

    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">


    <script src="../../vendor/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="./../../vendor/bootstrap/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../css/index/index.css">

    <script>if (window.module) module = window.module;</script>

    <script src="../../Controler/db/connectionCallCenter.js"></script>
    <script src="../../Controler/Login/Login.js"></script>
    <script src="../../Controler/Login/CloseLogin.js"></script>

</head>

<body>

    <div class="container-fluid">
        <div class="row">
            <!-- Menu Costado -->
            <div class="col-sm-12 col-md-3 text-center">
                <div class="img-menu">
                    <img src="../img/inbound-call-center.png" width="220" alt="">
                    <div class="row">
                        <div class="col-2 colum-rigth">
                            <div class="estado-circle"></div>
                        </div>
                        <div class="col-10">
                            <Label for="nombre" class="label" id="nameUsuario"></Label>
                            <input type="hidden" name="idUsuario" id="idUsuario">
                        </div>
                    </div>
                </div>
                <div class="contenedor-btn-Disponible">
                    <button class="btn btn-disponible" onclick="btnDisponible()">DISPONIBLE</button>
                </div>
                <div class="contenedor-btn-Ausente">
                    <button class="btn btn-ausente" onclick="btnAusente()">AUSENTE</button>
                </div>
                <div class="contenedor-btn-cerrar-session">
                    <button class="btn btn-cerrar-session" onclick="cerrarSession();">CERRAR SESION</button>
                </div>
                <div class="contenedor-btn-anuncios">
                    <button class="btn btn-anuncion" data-toggle="modal" data-target="#modalAnuncios">ANUNCIOS</button>
                </div>
            </div>
            <!-- Menu Principal -->
            <div class="col-sm-12 col-md-9">
                <div class="containe-fluid">
                    <div class="row">
                        <div class="col-sm-12 col-md-6">
                            <div class="title-comprador">
                                <h1 class="h1">COMPRADOR</h1>
                            </div>
                            <div class="comprador">
                                <input type="hidden" name="id_asignacion_transaccion" id="id_asignacion_transaccion" value="" />
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Nombre:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="nombre_comprador" name="nombre" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Cedula:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="cedula_comprador" name="cedula_comprador" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Telefono:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="telefono_comprador" name="telefono_comprador" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Clave Usuario:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="contrasena1_comprador" name="contrasena1_comprador" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Clave CeleriCoin:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="contrasena2_comprador" name="contrasena2_comprador" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Monto Compra:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="monto" name="monto" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Cantidad Bitcoin:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="cantBitcoin" name="cantBitcoin" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Menu Vendedor -->
                        <div class="col-sm-12 col-md-6">
                            <div class="title-comprador">
                                <h1 class="h1 text-center">VENDEDOR</h1>
                            </div>
                            <div class="vendedor">
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Nombre:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="nombre_vendedor" name="nombre_vendedor" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Cedula:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="cedula_vendedor" name="cedula_vendedor" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Telefono:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="telefono_vendedor" name="telefono_vendedor" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Clave Usuario:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="contrasena1_vendedor" name="contrasena1_vendedor" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Clave CeleriCoin:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="contrasena2_vendedor" name="contrasena2_vendedor" disabled>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="padding-top: 1em;">
                                    <div class="col-3 text-rigth">
                                        <Label class="labels">Forma Pago:</Label>
                                    </div>
                                    <div class="col-9">
                                        <div class="form-group">
                                            <input type="text" class="form-control" id="forma_pago" name="forma_pago" disabled>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- botones -->
                    <div class="row" style="margin-top: 1em;">
                        <div class="col-4 colum-rigth">
                            <button class="btn btn-primary btn-cancelado" onclick="cancelarTransaccion();">Cancelar</button>
                        </div>
                        <div class="col-4 colum-center">
                            <button class="btn btn-primary btn-espera" onclick="enEsperaTransaccion();">En Espera</button>
                        </div>
                        <div class="col-4 colum-left">
                            <button class="btn btn-primary btn-finalizado" onclick="finalizarTransaccion()">Finalizar</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Lista de Espera -->
        </div>
        <div class="container">
            <div class="row " style="margin-top: 1em;">
                <!-- Tabla de llamadas en espera -->
                <div class="col-12">
                    <div class="title-espera">
                        <h1 class="h1">TRANSACCIONES EN ESPERA</h1>
                    </div>
                    <div id="outputDivTransacciones">

                    </div>

                </div>
            </div>
        </div>
        <!-- The Modal Nuevo Registro -->
        <div class="modal fade" id="modalRegistro">
            <div class="modal-dialog">
                <div class="modal-content">

                    <!-- Modal Header -->
                    <div class="modal-header" id="head_modal">
                        <h4 class="modal-title text-center">Nuevo Registro</h4>
                    </div>

                    <!-- Modal body -->
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Usuario:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="usuarioCeleri">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Telefono:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="row">
                                        <div class="col-3">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="indicativo" disabled>
                                            </div>
                                        </div>
                                        <div class="col-9">
                                            <div class="form-group">
                                                <input type="text" class="form-control" id="telefono" disabled>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Nombres:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="nombre" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Documento:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="cedula" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Direccion:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="direccion" disabled>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Correo:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="correo" disabled>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Clave Usuario:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" UPPER class="form-control" name="clave_usuario" id="clave_usuario">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3 text-rigth">
                                    <Label class="labels">Clave CeleriCoin:</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="clave_celericoin" id="clave_celericoin">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Modal footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-posponer text-left" data-dismiss="modal" onclick="asignarClaves('POSPUESTO')">POSPONER</button>
                        <button type="button" class="btn btn-guardar" data-dismiss="modal" onclick="asignarClaves('CONFIRMADO')">GUARDAR</button>
                    </div>

                </div>
            </div>
        </div>

        <!-- Modal de anuncios -->
        <div class="modal fade" id="modalAnuncios">
            <div class="modal-dialog modal-anuncios">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header" id="head_modal">
                        <h1 style="text-align: center;">ANUNCIOS</h1>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>

                    <!-- Modal Body -->
                    <div class="modal-body" style="padding-bottom: 6em;">
                        <!-- Contenedor Filtros -->
                        <div class="container">
                            <h2 class="titulo-filtro">Filtro de Busqueda</h2>
                            <div class="row" style="padding-bottom: 1em;">
                                <div class="col-3">
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="monto" placeholder="Monto">
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <select name="moneda" id="moneda" class="form-control">
                                            <option value="">COP</option>
                                            <option value="">CNY</option>
                                            <option value="">BRL</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <div class="form-group">
                                        <select name="pais" id="pais" class="form-control">
                                            <option value="">COLOMBIA</option>
                                            <option value="">PERU</option>
                                            <option value="">BRASIL</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-3">
                                    <div class="form-group">
                                        <select name="ofertas" id="ofertas" class="form-control">
                                            <option value="">Todas las ofertas</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-2">
                                    <button type="button" class="btn btn-buscar">BUSCAR</button>
                                </div>
                            </div>
                        </div>

                        <!-- Slider de anucios -->
                        <div class="carousel slide" id="anuncios" data-ride="carousel">
                            <!-- Indicadores -->
                            <ul class="carousel-indicators">
                                <li data-target="#anuncios" class="active"></li>
                                <li data-target="#anuncios"></li>
                                <li data-target="#anuncios"></li>
                            </ul>
                            <!-- Anucions -->
                            <div class="carousel-inner">
                                <div class="carousel-item active">
                                    <table class="table table-hover table-anuncios">
                                        <thead>
                                            <tr>
                                                <th>Proveedor</th>
                                                <th>Precio</th>
                                                <th>Min-Max</th>
                                                <th>Metodo de Pago</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>Luis</th>
                                                <th>24.000.000</th>
                                                <th>2.000.000 - 8.000.000</th>
                                                <th>Wester Unios</th>
                                                <th>
                                                    <button type="button" class="btn btn-detalle" data-toggle="modal" data-target="#modalDetalles">Detalle</button>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>Luis</th>
                                                <th>24.000.000</th>
                                                <th>2.000.000 - 8.000.000</th>
                                                <th>Wester Unios</th>
                                                <th>
                                                    <button type="button" class="btn btn-detalle" data-toggle="modal" data-target="#modalDetalles">Detalle</button>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>Luis</th>
                                                <th>24.000.000</th>
                                                <th>2.000.000 - 8.000.000</th>
                                                <th>Wester Unios</th>
                                                <th>
                                                    <button type="button" class="btn btn-detalle" data-toggle="modal" data-target="#modalDetalles">Detalle</button>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>Luis</th>
                                                <th>24.000.000</th>
                                                <th>2.000.000 - 8.000.000</th>
                                                <th>Wester Unios</th>
                                                <th>
                                                    <button type="button" class="btn btn-detalle" data-toggle="modal" data-target="#modalDetalles">Detalle</button>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="carousel-item">
                                    <table class="table table-hover table-anuncios">
                                        <thead>
                                            <tr>
                                                <th>Proveedor</th>
                                                <th>Precio</th>
                                                <th>Min-Max</th>
                                                <th>Metodo de Pago</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>Luis</th>
                                                <th>24.000.000</th>
                                                <th>2.000.000 - 8.000.000</th>
                                                <th>Wester Unios</th>
                                                <th>
                                                    <button type="button" class="btn btn-detalle" data-toggle="modal" data-target="#modalDetalles">Detalle</button>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>Luis</th>
                                                <th>24.000.000</th>
                                                <th>2.000.000 - 8.000.000</th>
                                                <th>Wester Unios</th>
                                                <th>
                                                    <button type="button" class="btn btn-detalle" data-toggle="modal" data-target="#modalDetalles">Detalle</button>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>Luis</th>
                                                <th>24.000.000</th>
                                                <th>2.000.000 - 8.000.000</th>
                                                <th>Wester Unios</th>
                                                <th>
                                                    <button type="button" class="btn btn-detalle" data-toggle="modal" data-target="#modalDetalles">Detalle</button>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>Luis</th>
                                                <th>24.000.000</th>
                                                <th>2.000.000 - 8.000.000</th>
                                                <th>Wester Unios</th>
                                                <th>
                                                    <button type="button" class="btn btn-detalle" data-toggle="modal" data-target="#modalDetalles">Detalle</button>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="carousel-item">
                                    <table class="table table-hover table-anuncios">
                                        <thead>
                                            <tr>
                                                <th>Proveedor</th>
                                                <th>Precio</th>
                                                <th>Min-Max</th>
                                                <th>Metodo de Pago</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>Luis</th>
                                                <th>24.000.000</th>
                                                <th>2.000.000 - 8.000.000</th>
                                                <th>Wester Unios</th>
                                                <th>
                                                    <button type="button" class="btn btn-detalle" data-toggle="modal" data-target="#modalDetalles">Detalle</button>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>Luis</th>
                                                <th>24.000.000</th>
                                                <th>2.000.000 - 8.000.000</th>
                                                <th>Wester Unios</th>
                                                <th>
                                                    <button type="button" class="btn btn-detalle" data-toggle="modal" data-target="#modalDetalles">Detalle</button>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>Luis</th>
                                                <th>24.000.000</th>
                                                <th>2.000.000 - 8.000.000</th>
                                                <th>Wester Unios</th>
                                                <th>
                                                    <button type="button" class="btn btn-detalle" data-toggle="modal" data-target="#modalDetalles">Detalle</button>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th>Luis</th>
                                                <th>24.000.000</th>
                                                <th>2.000.000 - 8.000.000</th>
                                                <th>Wester Unios</th>
                                                <th>
                                                    <button type="button" class="btn btn-detalle" data-toggle="modal" data-target="#modalDetalles">Detalle</button>
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- Controles de derecha y izquierda -->
                            <a class="carousel-control-prev" href="#anuncios" data-slide="prev">
                                <span class="carousel-control-prev-icon"></span>
                            </a>
                            <a class="carousel-control-next" href="#anuncios" data-slide="next">
                                <span class="carousel-control-next-icon"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modal de Detalle del anuncio -->
        <div class="modal fade" id="modalDetalles">
            <div class="modal-dialog modal-detalles" style="margin-top: 12em;">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header" id="head_modal">
                        <h3>Detalle del Anuncio</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <div class="container">
                            <div class="row">
                                <div class="col-3">
                                    <Label>Precio</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="precio">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <Label>Usuario</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="usuario">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <Label>Limite transacción</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="limite-transaccion">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3">
                                    <Label>Ubicacion</Label>
                                </div>
                                <div class="col-9">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="ubicacion">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-asignar" onclick="">Asignar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script src="../js/Login/script.js"></script>
<script src="../js/index_user/script.js"></script>
<script src="../../Controler/IndesUser/consultaCompradorVendedor.js"></script>
<script src="../../Controler/IndesUser/consultaTransaccionesEspera.js"></script>
<script src="../js/index_user/nuevoRegistro.js"></script>
<script>
    consulta_datos_en_espera();
</script>

</html>