.text-center{
    text-align: center;
    margin: auto;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}
/* Lista de asesores */

.lista-asesores{
    margin-top: 2em;
}

.estado-asesor{
    border: 1px solid #000000;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

.estado-circle-disponible{
    border: 1px solid #388E3C;
    background-color: #388E3C;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

.estado-circle-ausente{
    border: 1px solid #F57C00;
    background-color: #F57C00;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

.estado-circle-ocupado{
    border: 1px solid #D32F2F;
    background-color: #D32F2F;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

/* Modal de nuevo registro */

.modal-header{
    background-color: #009688;
    color: white;
}

.modal-footer{
    background-color: #FAFAFA;

}