.text-center{
    text-align: center;
    margin: auto;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

/* Estado Circle */

.estado-circle{
    border: 1px solid #000000;
    background-color: transparent;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

/* Lista de asesores */

.lista-asesores{
    margin-top: 2em;
}

.estado-asesor{
    border: 1px solid black;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

/* Modal de nuevo registro */

.modal-header{
    background-color: #009688;
    color: white;
}

.modal-footer{
    background-color: #FAFAFA;

}