.text-center{
    text-align: center;
    margin: auto;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

/* Lista de asesores */

.lista-asesores{
    margin-top: 2em;
}

.estado-asesor{
    border: 1px solid black;
    border-radius: 100%;
    width: 20px;
    height: 20px;
}

.div{
    width: 20%;
    margin-top: 2em;
}

/* Tabla de datos de lo sasesores */

.btn-eliminar{
    background-color: transparent;
    border: 1px solid #D32F2F;
    color: #787878;
}

.btn-eliminar:hover{
    background-color: #D32F2F;
    border: 1px solid #D32F2F;
    color: white;
}

