
body{
    background-color: #f6f6f6;
}

.text-center{
    text-align: center;
    margin: auto;
}

.text-rigth{
    text-align: right;
    margin: auto;
}

.text-left{
    text-align: left;
    margin: auto;
}

.colum-center{
    text-align: center;
    margin: auto;
}

.colum-rigth{
    text-align: right;
    margin: auto;
}

.colum-left{
    margin: auto;
}

/* Menu Costado */

.label{
    width: 80%;
    border: 1px solid #d2deef;
    height: 38px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 400;
    margin-top: 1em;
    margin-right: 2em;
}

.label-nombre{
    padding-bottom: 0em;
}

.estado-circle{
    width: 22px;
    height: 22px;
    border-radius: 100%;
    background-color: #43A047;
    border: 1px solid #43A047;
    margin: auto;
    margin-top: 1em;
    margin-left: 1.5em;
}

.color-estado-ausente{
    background-color: rgb(245, 0, 0);
    border: 1px solid rgb(245, 0, 0);
}

.color-estado-disponible{
    background-color: #43A047;
    border: 1px solid #43A047;
}

.img-menu{
    margin-top: 0.5em;
}
.contenedor-btn-Disponible,
.contenedor-btn-Ausente,
.contenedor-btn-cerrar-session,
.contenedor-btn-nuevo-registro,
.contenedor-btn-anuncios{
    margin-top: 2em;
}

.btn-disponible{
    background-color: transparent;
    border-color: #009688;
    color: #787879;
    padding: .5em 3em;
}

.btn-disponible:hover{
    background-color: #28a745;
    border-color: #28a745;
    color: white;
}

.btn-ausente{
    background-color: transparent;
    border-color: #009688;
    color: #787879;
    padding: 0.5em 3.5em;
}

.btn-ausente:hover{
    background-color: #F57C00;
    border-color: #F57C00;
    color: white;
}

.btn-cerrar-session{
    background-color: transparent;
    border-color: #009688;
    color: #787879;
    padding: 0.5em 1.8em;
}

.btn-cerrar-session:hover{
    background-color: #E53935;
    border-color: #E53935;
    color: white;
}

.btn-anuncion{
    background-color: transparent;
    border-color: #009688;
    color: #787879;
    padding: 0.5em 3em;
}

.btn-nuevo-registro{
    background-color: transparent;
    border-color: #009688;
    color: #787878;
    padding: 0.5em 1.5em;    
}

.nuevo-registro{
    animation-name: modal_back;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
}

@keyframes modal_back {
    0%   {background-color:transparent; color: #787879;  top:0px;}
    50%  {background-color: rgba(255, 0, 0, 0.062); color: white; top:0px;}
    100% {background-color:transparent; color: #787879; top:0px;}
}

/* Menu Principal */

.title-comprador{
    background-color: #009688;
    color: #d7eee4;
    margin: auto;
    text-align: center;
    padding-bottom: 0.5em;
    border-radius: 6px;
}

.title-comprador .h1{
    font-size: 20px;
    margin: auto;
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.labels{
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

/* Formulario Comprador */

.nombre-comprador{
    background-color: #d2deef;
}

/* Botones Formulario */

.btn-espera{
    background-color: #FBC02D;
    border-color: #FBC02D;
    padding: .5em 1em;
}

.btn-espera:hover{
    background-color: #FDD835;
    border-color: #FDD835;
}

.btn-cancelado{
    background-color: #C62828;
    border-color: #C62828;
    padding: .5em 1em;
}

.btn-cancelado:hover{
    background-color: #D32F2F;
    border-color: #D32F2F;
}

.btn-finalizado{
    background-color: #388E3C;
    border-color: #388E3C;
    padding: .5em 1em;
}

.btn-finalizado:hover{
    background-color: #43A047;
    border-color: #43A047;
    padding: .5em 1em;
}

/* Menu de lista de espera */

.title-espera{
    background-color: #455A64;
    color: white;
    margin-top: auto;
    text-align: center;
    border-radius: 6px;
}

.title-espera .h1{
    margin: auto;
    font-size: 20px;
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.btn-reanudar{
    background-color: transparent;
    border-color: #388E3C;
    animation-name: example;
    animation-duration: 6s;
    animation-iteration-count: infinite;
    padding: .5em 1em;
}

.btn-reanudar:hover{
    border-color: #388E3C; 
}

.btn-guardar{
    background-color: transparent;
    border-color: #009688;
}

@keyframes example {
    0%   {background-color:transparent; color: #787879;  top:0px;}
    50%  {background-color: #388E3C; color: white; top:0px;}
    100% {background-color:transparent; color: #787879; top:0px;}
}

/* Modal de anuncion */

.modal-header{
    background-color: #009688;
    color: #d7eee4;
}

.modal-body, .modal-footer{
    background-color: #f6f6f6;
}


.btn-guardar{
    background-color: transparent;
    border-color: #009688;
    padding: 0.5em 2em;
}

.btn-guardar:hover{
    background-color: #388E3C;
    border-color: #43A047;
    color: white;
}

.btn-posponer{
    background-color: transparent;
    border-color: #ff0000;
    padding: 0.5em 2em;
}

.btn-posponer:hover{
    background-color: #ff0000;
    border-color: #c00707e3;
    color: white;
}

.btn_disabled{
    cursor: not-allowed;
    color:#fff;
    border-color: #a0a0a0;
    background-color: #a0a0a0;
}

.btn_disabled:hover{
    cursor: not-allowed;
    color:#fff;
    border-color: #a0a0a0;
    background-color: #a0a0a0;
}
