
body{
    background-color: #f6f6f6;
}

/* Menu Costado */

.label{
    width: 60%;
    border: 1px solid #d2deef;
    height: 38px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 400;
    margin: auto;
}

.img-menu{
    margin-top: 2em;
}

.btn-disponible{
    margin-top: 4em;
}

.btn-ausente{
    margin-top: 4em;
}

.btn-finalizar{
    margin-top: 4em;
}

.btn{
    padding: .5em 1em;
}

/* Menu Principal */

.title-comprador{
    background-color: #007bff;
    color: white;
    height: 60px;
    margin: auto;
    text-align: center;
    padding-bottom: 0.5em;
}

.h1{
    font-size: 26px;
    margin: auto;
    margin-top: 1em;
    padding-top: 0.5em;
}

/* Formulario Comprador */

.nombre-comprador{
    background-color: #d2deef;
}

/* Menu de lista de espera */

.title-espera{
    background-color: #007bff;
    color: white;
    margin-top: auto;
    text-align: center;
    height: 60px;
}

.title-espera .h1{
    margin: auto;
    font-size: 26px;
    margin-top: 1em;
    padding-top: 0.5em;
}



