
body{
    background-color: #f6f6f6;
}

/* Menu Costado */

.label{
    width: 80%;
    border: 1px solid #d2deef;
    height: 38px;
    border-radius: 6px;
    font-size: 24px;
    font-weight: 400;
    margin: auto;
    margin-top: 1em;
}

.label-nombre{
    padding-bottom: 0em;
}

.img-menu{
    margin-top: 2em;
}

.contenedor-btn-Disponible{
    margin-top: 2em;
}

.contenedor-btn-Ausente{
    margin-top: 2em;
}

.contenedor-btn-cerrar-session{
    margin-top: 2em;
}

.btn-disponible{
    background-color: transparent;
    border-color: #009688;
    color: #787879;
    padding: .5em 2em;
}

.btn-disponible:hover{
    background-color: #28a745;
    border-color: #28a745;
}

.btn-ausente{
    background-color: transparent;
    border-color: #009688;
    color: #787879;
    padding: 0.5em 2.5em;
}

.btn-ausente:hover{
    background-color: #F57C00;
    border-color: #F57C00;
}

.btn-cerrar-session{
    background-color: transparent;
    border-color: #009688;
    color: #787879;
}

.btn-cerrar-session:hover{
    background-color: #E53935;
    border-color: #E53935;
}

/* Menu Principal */

.title-comprador{
    background-color: #009688;
    color: #d7eee4;
    margin: auto;
    text-align: center;
    padding-bottom: 0.5em;
    border-radius: 6px;
}

.title-comprador .h1{
    font-size: 20px;
    margin: auto;
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.labels{
    font-weight: 600;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

/* Formulario Comprador */

.nombre-comprador{
    background-color: #d2deef;
}

/* Botones */

.colum-center{
    text-align: center;
    margin: auto;
}

.colum-rigth{
    text-align: right;
    margin: auto;
}

.colum-left{
    text-align: left;
    margin: auto;
}

.btn-espera{
    background-color: #FBC02D;
    border-color: #FBC02D;
}

.btn-espera:hover{
    background-color: #FDD835;
    border-color: #FDD835;
}

.btn-cancelado{
    background-color: #C62828;
    border-color: #C62828;
}

.btn-cancelado:hover{
    background-color: #D32F2F;
    border-color: #D32F2F;
}

.btn-finalizado{
    background-color: #388E3C;
    border-color: #388E3C;
}

.btn-finalizado:hover{
    background-color: #43A047;
    border-color: #43A047;
}

/* Menu de lista de espera */

.title-espera{
    background-color: #455A64;
    color: white;
    margin-top: auto;
    text-align: center;
    border-radius: 6px;
}

.title-espera .h1{
    margin: auto;
    font-size: 20px;
    margin-top: 1em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.btn-reanudar{
    background-color: transparent;
    border-color: #388E3C;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes example {
    0%   {background-color:transparent; color: #787879;  top:0px;}
    
    50%  {background-color: #388E3C; color: white; top:0px;}
    
    100% {background-color:transparent; color: #787879; top:0px;}
}

/*.btn-reanudar:hover{
    background-color: transparent;
    border-color: #43A047;
}*/





