<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <script>if (typeof module === 'object') { window.module = module; module = undefined; }</script>

    <!-- Estilos css -->

    <link rel="stylesheet" href="../css/admin/style.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- Archivos Js -->

    <script src="../../vendor/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="./../../vendor/bootstrap/js/bootstrap.min.js"></script>

    <script>if (window.module) module = window.module;</script>

    <title>Administrador</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="container-fluid">
                    <!-- Perfil de adminitrador -->
                    <div class="row" style="margin-top: 1em;">
                        <div class="col-4">
                            <img src="../img/admin/admin.jpg" class="img-fluid rounded-circle" alt="">
                        </div>

                        <div class="col-8">
                            <Label>Wilmar Roa</Label>
                            <br>
                            <Label>Administrador</Label>
                        </div>
                    </div>
                    <!-- Fin del perfil -->

                    <!-- Lista de asesores -->

                    <div class="row lista-asesores" id="container_asesor"></div>

                    <!-- Scrip Asesores -->

                    <script>
                        var acu = 0;
                        var text = "";
                        for (var i = 1; i <= 20; i++) {
                            text += "<div class='col-4'>" +
                                "<img src='../img/usuario.png' class='img' alt=''> " + i +
                                "</div>" +
                                "<div class='col-4'>" +
                                "<div class='estado-asesor'></div>" +
                                "</div>" +
                                "<div class='col-4' style='text-align: center;'>" +
                                "En Línea" +
                                "</div>"
                        }
                        document.getElementById("container_asesor").innerHTML = text;
                    </script>
                </div>
            </div>

            <!-- Menu Principal -->

            <div class="col-9" style="margin-top: 1em;">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#datos-asesor">Asesores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#historialLlamadas">Historial de llamadas</a>
                    </li>
                </ul>

                <!-- Tab Panes -->

                <div class="tab-content">
                    <!-- Datos de asesores-->
                    <div class="container tab-pane active" id="datos-asesor">
                        <div class="row" style="margin-top: 4em;">
                            <div class="col-6">
                                <div class="row" style="margin-top: 1em;">
                                    <div class="col-4" style="text-align: center; margin-top: 0.5em;">
                                        <Label>Documento:</Label>
                                    </div>
                                    <div class="col-8" style="margin: auto;">
                                        <div class="form-group">
                                            <input type="text" class="form-control input">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-3" style="margin: auto;">
                                <button class="btn btn-outline-secondary">
                                    <i class="fa fa-search"></i> Buscar</button>
                            </div>
                            <div class="col-3" style="margin: auto;">
                                <button class="btn btn-outline-success" data-toggle="modal" data-target="#modalRegistroAsesor">
                                    <i class="fa fa-address-card-o"></i>
                                    Nuevo Asesor
                                </button>
                            </div>
                        </div>
                        <!-- Tabla de informacion de los asesores -->
                        <div class="table-responsive">
                            <table class="table table-hover" style="margin-top: 1em;">
                                <thead>
                                    <tr>
                                        <th>Cedula</th>
                                        <th>Nombre</th>
                                        <th>Apellido</th>
                                        <th>Telefono</th>
                                        <th>Extension</th>
                                        <th>Usuario</th>
                                        <th>Contraseña</th>
                                        <th>
                                            <input type="hidden">
                                        </th>
                                        <th>
                                            <input type="hidden">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <th>1.090.495.147</th>
                                        <th>Luis Enrique</th>
                                        <th>Gelvis Cuellar</th>
                                        <th>3132277661</th>
                                        <th>7425</th>
                                        <th>luisgelvis</th>
                                        <th>1234</th>
                                        <th>
                                            <button class="btn btn-outline-info" data-toggle="modal" data-target="#ModalEditar">
                                                <i class="fa fa-pencil-square-o"></i> Editar</button>
                                        </th>
                                        <th>
                                            <button class="btn btn-outline-danger">
                                                <i class="fa fa-trash-o"></i> Eliminar</button>
                                        </th>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <!-- Historiales de llamadas por asesor -->
                    <div class="container tab-pane fade" id="historialLlamadas">
                        <div class="container-fluid">
                            <div class="row" style="margin-top: 4em;">
                                <div class="col-2" style="margin: auto; text-align: center;">
                                    <Label>Docuemnto</Label>
                                </div>
                                <div class="col-4" >
                                    <div class="form-group">
                                        <input type="text" class="form-control" name="cedula_historial" id="cedula_historial">
                                    </div>
                                </div>
                                <div class="col-2" style="margin: auto; text-align: center;">
                                    <Label>Fecha</Label>
                                </div>
                                <div class="col-4">
                                    <input type="date" class="form-control" name="fecha_historial" id="fecha_historial">
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-12" style="margin: auto; text-align: center; margin-top: 1em;">
                                    <button class="btn btn-outline-success"><i class="fa fa-file-text-o"></i> Generar Reporte</button>
                                </div>
                            </div>
                            <!-- Tabla de reportes -->
                            <div class="table-responsive" style="margin-top: 3em;">
                                <table class="table table-hover">
                                    <thead>
                                        <tr>
                                            <th>Duracion</th>
                                            <th>Destino</th>
                                            <th>Ventas Efectivas</th>
                                            <th>Monto Transacciones</th>
                                            <th>Hora Inicio</th>
                                            <th>Hora Final</th>
                                            <th>Total Tiempo</th>
                                            <th>Comprador</th>
                                            <th>Vendedor</th>
                                            <th>Asesor</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>10 Min</th>
                                            <th>Peru</th>
                                            <th>4</th>
                                            <th>1.200.000 COP</th>
                                            <th>17/04/2018 11:20 AM</th>
                                            <th>17/04/2018 12:10 AM</th>
                                            <th>50 Min</th>
                                            <th>David Casadiego</th>
                                            <th>Luis Gelvis</th>
                                            <th>Wilmar Roa</th>
                                        </tr>
                                    </tbody>
                                </table>                                
                            </div>
                            <div class="row" style="margin-top: 1em;">
                                <div class="col-12" style="text-align: center;">
                                    <button class="btn btn-outline-primary" ><i class="fa fa-floppy-o"></i> Guardar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Inicio -->


                </div>
            </div>
        </div>
        <!-- Modal de registro de nuevo asesor -->
        <div class="modal fade" id="modalRegistroAsesor">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h4 class="modal-title">Nuevo Registro</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal Body -->
                    <div class="modal-body">
                        <div class="form-group">
                            <Label>Cedula:</Label>
                            <input type="text" class="form-control" name="cedula" id="cedula">
                        </div>
                        <div class="form-group">
                            <Label>Nombres:</Label>
                            <input type="text" class="form-control" name="nombre" id="nombre">
                        </div>
                        <div class="form-group">
                            <Label>Apellidos:</Label>
                            <input type="text" class="form-control" name="apellido" id="apellido">
                        </div>
                        <div class="form-group">
                            <Label>Celular:</Label>
                            <input type="text" class="form-control" name="celular" id="celular">
                        </div>
                        <div class="form-group">
                            <Label>Extension:</Label>
                            <input type="text" class="form-control" name="extension" id="extension">
                        </div>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success" data-dismiss="modal">Registrar</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Modal de editacion del asesor -->
        <div class="modal fade" id="ModalEditar">
            <div class="modal-dialog">
                <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                        <h3 class="modal-title">Informacion</h3>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal Body-->
                    <div class="modal-body">
                        <div class="container">
                            <div class="form-group">
                                <Label>Cedula</Label>
                                <input type="text" class="form-control" name="cedula" id="cedula" disabled>
                            </div>
                            <div class="form-group">
                                <Label>Nombres</Label>
                                <input type="text" class="form-control" name="nombre" id="nombre" disabled>
                            </div>
                            <div class="form-group">
                                <Label>Apellidos</Label>
                                <input type="text" class="form-control" name="apellido" id="apellido" disabled>
                            </div>
                            <div class="form-group">
                                <Label>Telefono</Label>
                                <input type="text" class="form-control" name="telefono" id="telefono">
                            </div>
                            <div class="form-group">
                                <Label>Extension</Label>
                                <input type="text" class="form-control" name="extension" id="extension">
                            </div>
                            <div class="form-group">
                                <Label>Usuario</Label>
                                <input type="text" class="form-control" name="usuario" id="usuario" disabled>
                            </div>
                            <div class="form-group">
                                <Label>Contrasena</Label>
                                <input type="text" class="form-control" name="contrasena" id="contrase">
                            </div>
                        </div>
                    </div>
                    <!-- Modal Footer -->
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-success" data-dismiss="modal"><i class="fa fa-refresh"></i> Guardar Cambios</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

</html>