<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Estilos css -->

    <link rel="stylesheet" href="../css/admin/style.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../fonts/font-awesome-4.7.0/css/font-awesome.min.css">

    <!-- Archivos Js -->

    <script src="../../vendor/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="./../../vendor/bootstrap/js/bootstrap.min.js"></script>

    <title>Administrador</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="container-fluid">
                    <!-- Perfil de adminitrador -->
                    <div class="row" style="margin-top: 1em;">
                        <div class="col-4">
                            <img src="../img/admin/admin.jpg" class="img-fluid rounded-circle" alt="">
                        </div>
                        
                        <div class="col-8">
                            <Label>Wilmar Roa</Label>
                            <br>
                            <Label>Administrador</Label>
                        </div>
                    </div>
                    <!-- Fin del perfil -->

                    <!-- Lista de asesores -->

                    <div class="row lista-asesores" id="container_asesor"></div>

                    <!-- Scrip Asesores -->

                    <script>
                        var acu = 0;
                        var text = "";
                        for (var i = 1; i <= 20; i++) {
                            text += "<div class='col-4'>" +
                                "<img src='../img/usuario.png' class='img' alt=''> " + i +
                                "</div>" +
                                "<div class='col-4'>" +
                                "<div class='estado-asesor'></div>" +
                                "</div>" +
                                "<div class='col-4' style='text-align: center;'>" +
                                "En Línea" +
                                "</div>"
                        }
                        document.getElementById("container_asesor").innerHTML = text;
                    </script>
                </div>
            </div>

            <!-- Menu Principal -->

            <div class="col-9" style="margin-top: 1em;">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#datos-asesor">Asesores</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu1">Historial de llamadas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#menu2">Menu 2</a>
                    </li>
                </ul>

                <!-- Tab Panes -->

                <!-- informacion de asesores -->

                <div class="container">
                    <div class="form-group div" id="datos-asesor">
                        <Label>Documento:</Label>
                        <input type="text" class="form-control input">
                    </div>
                    <!-- Table de datos asesores -->
                    <table class="table table-hover" id="datos-asesor">
                        <thead>
                            <tr>
                                <th>Cedula</th>
                                <th>Nombre</th>
                                <th>Apellido</th>
                                <th>Telefono</th>
                                <th>Extension</th>
                                <th><input type="hidden"></th>
                                <th><input type="hidden"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th>1.090.495.147</th>
                                <th>Luis Enrique</th>
                                <th>Gelvis Cuellar</th>
                                <th>3132277661</th>
                                <th>7425</th>
                                <th>
                                    <button class="btn btn-editar"><i class="fa fa-pencil-square-o"></i> Editar</button>
                                </th>
                                <th>
                                    <button class="btn btn-eliminar"><i class="fa fa-trash-o"></i> Eliminar</button>
                                </th>
                            </tr>
                        </tbody>
                    </table>
                </div>
                

                <!-- Historiales de llamadas por asesor -->
            </div>
        </div>
    </div>
</body>

</html>