<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">



    <!-- Estilos css -->

    <link rel="stylesheet" href="../css/asesor/style.css">
    <link rel="stylesheet" href="../css/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="../../fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <!-- Libresias js-->

    <script src="../../vendor/bootstrap/js/jquery-3.2.1.min.js"></script>
    <script src="../../vendor/bootstrap/js/bootstrap.min.js"></script>

    <title>index</title>
</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-2 menu">
                <h3 class="h3">
                    <i class="fa fa-connectdevelop" style="font-size: 28px;"></i>
                    ARYA
                </h3>
                <!-- Img de Perfil -->
                <div class="row" style="margin-top: 1em;">
                    <div class="col-4">
                        <img src="../img/admin/admin.jpg" class="img-fluid rounded-circle" style="margin-top: 0.5em;" alt="">
                    </div>
                    <div class="col-8">
                        <Label class="title-primary">Bienvenido,</Label>
                        <br>
                        <Label for="nombre" class="label" id="nameUsuario">Luis Gelvis</Label>
                    </div>
                </div>
                <!-- Menu -->
                <div class="menu-section">
                    <h4>Menu</h4>
                    <div id="accordion" style="margin-top: 2em; margin-bottom: 2em;">
                        <div class="card active">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <a class="" role="button" href="#collapseOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        Inicio
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                                <div class="card-body">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <a class="collapsed" role="button" href="#collapseTwo" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                        aria-controls="collapseTwo">
                                        Usuarios
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                                <div class="card-body">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <a class="collapsed" role="button" href="#collapseThree" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Desarrollo e Investigacion
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                                <div class="card-body">
                                    
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header" id="headingFour">
                                <h5 class="mb-0">
                                    <a class="collapsed" role="button" href="#collapseFour" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                                        aria-controls="collapseFour">
                                        Legal y Administrativo
                                        <i class="fa fa-bars"></i>
                                    </a>
                                </h5>
                            </div>
                            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                                <div class="card-body">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

</html>